{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="d-grid mb-5 d-md-flex justify-content-md-center">
    {% if user.is_authenticated %}
    <a class="btn col-6 btn-outline-warning"
       href="{% url 'catalog:product_create' %}"
       role="button">Добавить продукт</a>
    {% endif %}
</div>
<div class="row text-center">
    {% for product in object_list %}
    <div class="col-4 col-xs-12">
        <div class="card mb-3 box-shadow">
            <img src="{{ product.image | media_filter }}" class="rounded float-start">
            <div class="card-header">
                <h5 class="my-0 font-weight-normal">{{ product.name }}</h5>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title"> {{ product.price }} руб.</h1>
                <p class="card-text">{{ product.description|truncatechars:100}}</p>
                <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'catalog:product_detail' product.pk %}"
                   role="button">Подробнее</a>
                {% if perms.catalog.set_published_status and perms.catalog.can_change_description and perms.catalog.can_change_category or user == product.owner %}
                <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'catalog:product_update' product.pk %}"
                   role="button">Изменить</a>
                {% endif %}
                {% if user == product.owner %}
                <a class="btn btn-lg btn-block btn-outline-danger" href="{% url 'catalog:product_delete' product.pk %}"
                   role="button">Удалить</a>
                {% endif %}
                <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}